@use 'variaveis';

.about-movie {
    background-image: url(../images/joker-section-sobre-filme.png);
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 1;

    &__content {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding-left: 50px;
        position: relative;

        &__box {
            margin-top: -50px;
            grid-column: 1;
            width: 100%;
            max-width: 900px;
            border: 1px solid variaveis.$corDoTextoSecundario;
            max-height: calc(100vh - 250px);
            overflow: hidden;
            
            

            h2 {
                padding: 30px 60px 0px;
            }
            
            &__text {
                padding: 40px 60px;
                
                p {
                    font-weight: 400;
                    
                }
            }

            &__dc {
                position: absolute;
                bottom: 45px;
                
                img {
                    
                    width: 62px;
                }
    
                
            }

        }

       

    }

   
}

