@use 'hero';
@use 'header';
@use 'variaveis';
@use 'aboutmovie';
@use 'robertdeniro';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto mono";
    
}

body {
    background-color: #000;
}


.text-md {
    font-size: 20px;
    color: variaveis.$corDoTextoPrincipal;
    
}


.text-big {
    font-size: 42px;
    color: variaveis.$corDoTextoPrincipal;
}

.arrow_down {
    color: variaveis.$corDoTextoPrincipal;
}


.container__arrow{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 35px;
    justify-content: center;

    .arrow_down {
        font-size: 75px;
        cursor: pointer;
        opacity: 0.6;
        
        &:hover {
            opacity: 1;
            font-size: 75px;
            transition: 0.5s;
        }
    }
}


